# Load Data
in this section, we are creating a nicely tabulated dataset from a sklearn bunch that has different components of the data in different bunches

In [3]:
from sklearn.datasets import load_iris
iris = load_iris()

# Feature names are column names

In [7]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

# Target
class of each item in array (5th column of excel sheet)

In [10]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

# Structure data into data frame
data = iris.data is the data inside the data frame
columns = iris.feature_names sets heading of each column to the feature name

In [9]:
import pandas as pd
x = pd.DataFrame(data = iris.data, columns = iris.feature_names)
print(x.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

# Data frame using count of each class as data
data is the class of each item 
columns named as "irisType"

In [13]:
y = pd.DataFrame(data=iris.target, columns = ['species'])
y.head()

   species
0        0
1        0
2        0
3        0
4        0

#Descriptive Analysis on data frame
Creates a frequency table for each class

In [24]:
y.species.value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

# Another way of creating a data frame
[:,0]
take every row in column 0 and set that under SepalLength

In [19]:
import pandas as pd
data=pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PetalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

Two ways of doing descriptive analysis on the data frame
(instead of y.species, use data['Species'])

In [23]:
y.species.value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

In [18]:
data['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64